<%- include('./partials/header', {customStyles : '/stylesheets/editProfile.css'}) %>

    <div class="container">
        <div class="post_card">
            <div class="edit_profile">
                Edit profile
            </div>
            <div class="edit_desc">Keep your personal details private. Information you add here is visible <br> to any who can view your profile.
            </div>

            <form action="/uploadFile" method="post" enctype="multipart/form-data">
                <div class="edit_label">Photo</div>
                <div class="Img_edit">
                    <div class="profile-picture">
                        <% if (user.dp) { %>
                            <img class="profile-image" src="/images/Upload/<%= user.dp %>" alt="Profile Picture">
                        <% } %>
                        <img id="selected" src="#" style="display: none;" alt="Profile Picture">
                    </div>
                    <input hidden type="file" id="profile-img" name="dp" onchange="previewImage(event)">
                    <input type="button" class="button1" id="edit-profile-img" value="Change">
                </div>
                <div class="edit_label">Full Name</div>
                <input type="text" name="fullname"  placeholder="Full Name" class="detail" value="<%= user.fullname %>" /><br />
                <div class="edit_label">About</div>
                <textarea type="text" name="about"  placeholder="Tell your story " class="detail1"/><%= user.about %></textarea><br />
                <div class="edit_label">Username</div>
                <input type="text" name="username"  placeholder="Username" class="detail" value="<%= user.username %>" /><br />
                <input type="submit" value="Save" class="upbtn">
            </form>
        </div>
    </div>

    <%- include('./partials/footer', {customScript: '/javascripts/editProfile.js'}) %>